# .github/workflows/backend-ci.yml
name: Backend CI

on:
  push:
    branches: [ main, develop ]
    paths:
      - 'backend/**'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.0'
      
      - name: Install dependencies
        run: go mod download
      
      # - name: Run unit tests
      #   run: go test ./internal/... -v
      
      # - name: Run integration tests
      #   run: go test ./test/integration/... -v
      
      # - name: Generate coverage
      #   run: |
      #     go test ./... -coverprofile=coverage.out
      #     go tool cover -func=coverage.out