name: Backend CI

on:
  push:
    branches: [ main, develop ]
    paths:
      - 'backend/**'

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Download dependencies
        run: go mod download

      # -----------------------
      # 1️⃣ UNIT TEST ONLY
      # -----------------------
      - name: Run unit tests (backend/test/unit)
        run: go test ./test/unit/... -v

      # -----------------------
      # 2️⃣ Coverage ONLY for internal/user
      # -----------------------
      - name: Run coverage for internal/user
        run: |
          mkdir -p coverage
          go test ./internal/user/... -coverprofile=coverage/user.out -covermode=atomic
          go tool cover -func=coverage/user.out > coverage/user.txt

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v3
        with:
          name: user-service-coverage
          path: backend/coverage/user.txt
